.card-title{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;
    margin-bottom: 0.75rem;
}

.card-subtitle{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #6c757d;
    margin-bottom: 0.75rem;
}
