<div class="container">
    <div class="row g-0 justify-content-center rounded-top">  
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">¿Qué es Precios Justos?</h5>
      <h6 class="card-subtitle mb-2 text-muted">Una medida que fija los precios de más de 1.800 productos de primera necesidad por 120 días, mediante acuerdos voluntarios con empresas productoras y comercializadoras.</h6>
    </div>
  </div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">¿Dónde los encuentro?</h5>
      <h6 class="card-subtitle mb-2 text-muted">En los supermercados, distribuidores mayoristas y comercios adheridos al programa por provincia o región.</h6>
    </div>
  </div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">¿Para qué sirve la App?</h5>
      <h6 class="card-subtitle mb-2 text-muted">Para escanear el código de barras de cada producto y saber si está alcanzado por la medida. Además, vas a poder reportar inconvenientes.</h6>
    </div>
  </div>
</div>
</div>