<!-- productos -->
<h1>Provincia Seleccionada {{provinciaSlcd}}</h1>

<label for="exampleDataList" class="form-label">Buscar</label>
<input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Nombre del producto...">
<datalist id="datalistOptions">
  <option value="San Francisco">
  <option value="New York">
  <option value="Seattle">
  <option value="Los Angeles">
  <option value="Chicago">
</datalist>

<table class="table table-hover">
    <thead>
      <tr class="table-hover">
        <th scope="col">Producto</th>
        <th scope="col">Ean</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = 'let producto of productos'>
        <td>{{producto.nombre}}</td>
        <td>{{producto.ean}}</td>
        <td>{{producto.precio}}</td>
      </tr>
    </tbody>
  </table>
