<div class="container mt-3">
    <!-- header  styles   -->
    <div class="row">
        <div class="col-md-12">
            <app-header></app-header>
        </div>
    
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div class="container mt-5">
     <div class="row">
          <div class="col-md-12">
            <app-footer></app-footer>
          </div>
     </div>    
</div>


