<div class="title text-center">
    <h1>¿Conoces los productos?</h1>
</div>
<div class="row p-3">
    <div class="col text-center">
        <h2 class="fw-bold mb-3">¿En qué provincia o región vivís?</h2>
        <select name="Provincias" id="" [(ngModel)]="provinciaSeleccionada">
            <option value="">Seleccione una provincia</option>
            <option *ngFor="let provincia of provincias" [ngValue]="provincia">{{provincia.nombre}}</option>
        </select>

        <h3>Provincia Seleccionada :  {{provinciaSeleccionada.nombre}} </h3>
    </div>

    <button class="btn btn-info" (click)="handleOnClickButton()">Buscar</button>

    <!-- <button routerLink="/productos" type="button" class="btn btn-primary">Ver Listado de Productos</button> -->
</div>


