<div class="title text-center">
    <h1> Precios Justos</h1>
</div>
<div class="row">
    <div class="col text-center">
        <select name="Provincias" id="" [(ngModel)]="provinciaSeleccionada">
            <option value="">Seleccione una provincia</option>
            <option *ngFor="let provincia of provincias" [ngValue]="provincia">{{provincia.nombre}}</option>
        </select>

        <h3>Provincia Seleccionada :  {{provinciaSeleccionada.nombre}} </h3>
    </div>

    <button routerLink="/productos" type="button" class="btn btn-primary">Ver Listado de Productos</button>
</div>


